@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #242325;
    --cor-secundaria: white;
    --cor-terciaria: #9EB25D;
    --cor-quaternaria: #59C9A5;
    --black: black;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quaternaria);
    animation: crescer 0.3s ease-out forwards;
}

span {
    font-weight: bold;
    color: var(--cor-terciaria);
}

.imagem {
    box-sizing: border-box;
    border-radius: 16px;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 593px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__titulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    padding: 21.5px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--cor-terciaria); 
}

.apresentacao__links__link:hover {
    border-color: var(--cor-quaternaria);
    animation: crescer 0.3s ease-out forwards;
}

@keyframes crescer {
    0% {
      transform: scale(1);
      
    }
    100% {
      transform: scale(1.1);
    }
  }

.rodape {
    padding: 24px;
    color: var(--black);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}

.cabecalho__menu__link {
    display: flex;
    
}

